@import "../../assets/styles/globalStyles.scss";

.tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .tabs-list {
    display: flex;
    align-items: center;
    justify-content: center;

    .tabs-list-header {
      width: 100%;
      padding: 20px;
      font-size: map-get($font-sizes, "md");
      font-weight: bold;
      text-align: center;
      margin-bottom: 15px;
      border-bottom: 2px solid map-get($colors, "secondary");
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      &.tabs-list-header_active {
        border-bottom: 4px solid map-get($colors, "primary");
      }
    }
  }

  .tabs-content {
    width: 100%;
    font-size: 1.25rem;
    color: map-get($colors, "secondary");
    display: none;

    button {
      background-color: map-get($colors, "primary");
      width: 140px;
      height: 40px;
      padding: 0px 15px;
      border-radius: 50px;
      font-weight: 600;
      color: map-get($colors, "black");
      letter-spacing: 0.08em;
      border: none;
      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }

    &.tabs-content_active {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .search-bar {
      display: flex;
      align-items: flex-end;
      margin: 0 0 2rem;

      .time-interval-div {
        display: flex;
        flex-direction: column;
        label {
          font-size: map-get($font-sizes, "sm");
          font-weight: bold;
          margin: 5px 0;
        }
      }
  
      #time-interval-selector {
        width: 240px;
        height: 40px;
        padding: 5px 10px;
        font-family: Helvetica, sans-serif;
        font-weight: 300;
        font-size: map-get($font-sizes , "md");
        border: 1px solid #aaa;
        border-radius: 50px 0 0 50px;
        text-align: center;
        appearance: none;
      }
  
      #time-interval-selector:hover {
        border: 2px solid map-get($colors, "primary");
        padding: 4px 9px;
        cursor: pointer;
      }

      button {
        border-radius: 0 50px 50px 0;
        width: 240px;
        font-size: map-get($font-sizes, "md");
      }
    }

    .table-title {
      font-size: map-get($font-sizes, "lg");
      font-weight: bold;
      margin: 3rem 0 1rem;
    }

    .table-headers {
      font-size: map-get($font-sizes, "md");
      font-weight: bold;
      background-color: map-get($colors, "primary");
    }

    table {
      border-collapse: collapse;
      width: 70%;
      border: 2px solid map-get($colors, "primary");
    }
    
    td {
      padding: 8px;
      text-align: center;
    }
    
    th {
      border: 2px solid black;
      background-color: gray;
      color: white;
      padding: 8px;
      text-align: center;
    }
  }
}