@import "../../assets/styles/globalStyles.scss";

.tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .tabs-list {
    display: flex;
    align-items: center;
    justify-content: center;

    .tabs-list-header {
      width: 100%;
      padding: 20px;
      font-size: map-get($font-sizes, "md");
      font-weight: bold;
      text-align: center;
      margin-bottom: 15px;
      border-bottom: 2px solid map-get($colors, "secondary");
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      &.tabs-list-header_active {
        border-bottom: 4px solid map-get($colors, "primary");
      }
    }
  }

  .tabs-content {
    width: 100%;
    font-size: 1.25rem;
    color: map-get($colors, "secondary");
    display: none;

    button {
      background-color: map-get($colors, "primary");
      font-size: map-get($font-sizes, "sm");
      height: 40px;
      padding: 0px 30px;
      border-radius: 50px;
      font-weight: 600;
      color: map-get($colors, "secondary");
      letter-spacing: 0.08em;
      border: none;
      &:hover {
        cursor: pointer;
        background-color: map-get($colors, "primaryHover");
      }
    }

    &.tabs-content_active {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .search-bar {
      display: flex;
      align-items: flex-end;
      margin: 1rem 0 3rem;

      .time-interval-div {
        display: flex;
        flex-direction: column;
        label {
          font-size: map-get($font-sizes, "sm");
          font-weight: bold;
          margin: 5px 0;
        }
      }
  
      #time-interval-selector {
        width: 240px;
        height: 40px;
        padding: 5px 10px;
        font-family: Helvetica, sans-serif;
        font-weight: 300;
        font-size: map-get($font-sizes , "md");
        border-radius: 50px 0 0 50px;
        text-align: center;
        appearance: none;
        border: 1px solid map-get($colors, "black");
        border-right: none;
        &:hover {
          background-color: map-get($colors, "lightGrey");
          cursor: pointer;
        }
        &:focus {
          outline: none;
        }
      }

      button {
        margin-left: 1rem;
      }
    }

    .table-title {
      font-size: map-get($font-sizes, "lg");
      font-weight: bold;
      margin: 3rem 0 1rem;
    }

    .table-headers {
      font-size: map-get($font-sizes, "md");
      font-weight: bold;
      background-color: map-get($colors, "primary");
    }

    table {
      border-collapse: collapse;
      width: 70%;
      border: 2px solid map-get($colors, "primary");
      text-align: center;
      padding: 8px;
    }
    
    td {
      padding: 8px;
      border: 1px solid map-get($colors, "grey");
    }
  }
}