$font-sizes: (
  'sm': 14px,
  'md': 18px,
  'lg': 24px,
  'xl': 30px,
);

$colors: (
  'primary': #1ed760,
  'secondary': #444444,
  'tertiary': #e9e9e9,
  'link': #61dafb,
  'white': #ffffff,
  'lightGrey': #f0f0f0,
  'inactive': #959595,
  'grey': #c0c7d6,
  'black': #111111,
  'success': #8fcb81,
  'error': #cb8581,
  'warning': #e1d888,
  'placeholder': #626262,
  'red': #ff0033,
  'primaryHover': #1dc650,
);

$breakpoints: (
  'xs': (
    max-width: 576px,
  ),
  'sm': (
    min-width: 576px,
  ),
  'md': (
    min-width: 768px,
  ),
  'lg': (
    min-width: 992px,
  ),
  'xl': (
    min-width: 1200px,
  ),
);
